@font-face {
    font-family: mariofont;
    src: url('/assets/font/mariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
}

@font-face {
    font-family: papermariofont;
    src: url('/assets/font/papermariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
}

h1 {
    font-family: mariofont;
}

h2 {
    font-family: papermariofont;
}

body {
    /* overflow: hidden; */
    text-align: center;
    margin: 0px; 
    padding: 0px; /* Remove padding to eliminate white space */
}


.text-box {
    font-family: papermariofont;
    color: white; 
    background-color: #6135f2; 
    padding: 20px;
    border-radius: 10px; 
    opacity: 1;
    margin-right: 80px; 
    overflow-y: auto; 
	
}

.text-box:last-child {
    margin-right: 0; 
}

.text-box h2 {
    font-family: mariofont;
    font-size: 40px;
    margin-top: 0;

}

.text-box p {
    font-size: 20px;
    margin: 0;
}


#about, #story {
    width: 600px; 
	margin-top: 60px;

}

#trailer, #downloads {
    width: 600px; 
	margin-top: 60px;

}

#screenshots {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
	margin-top: 60px;
}

#bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 1;
}

.container {
    display: flex;
    justify-content: space-around; 
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.gallery-row {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.gallery {
    width: 280px;
    transition: transform 0.5s;
    margin: 20px; 
}

.gallery:hover {
    transform: scale(1.2) rotate(2deg);
}

.gallery img {
    width: 100%;
    height: auto;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6135f2; 
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: papermariofont;
    box-sizing: border-box; 
}


body {
    position: relative; 
    margin: 0px;
}




/* .sliding-background { */
  /* background: url("assets/pattern2.png") repeat-x; */
  /* height: 500px; */
  /* width: 2400px;  */
  /* position: fixed;  */
  /* top: 0;  */
  /* left: 0;  */
  /* animation: slide 180s linear infinite; */
  /* opacity: 0.5; */

/* } */



@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-800px, 0, 0); /* The image width */
  }
}

/* .sliding-background { */
  /* background: url("assets/pattern.png") repeat; */
  /* height: 100vh;  */
  /* width: 100vw;  */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* animation: slide 60s linear infinite; */
  /* opacity: 0.4;  */
  /* z-index: -1;  */
  /* background-size: 150%;  */
/* } */


@keyframes slide {
  from {
    background-position: 0 0; 
  }
  to {
    background-position: 100% 0; 
  }
}



body {
    display: grid;
    place-items: center;
    height: auto;
    margin: 0;
}


.logo {
    position: relative;
    top: -0px;
    opacity: 0;
    animation: slideInAndFadeIn 1.2s forwards, moveUpDown 3.8s 6s infinite ease-in-out;
	width: 800px;
	height: auto;
	margin: 0 auto;
	z-index: 1;
}

@keyframes slideInAndFadeIn {
    0% {
        top: -90px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}



