@font-face {
    font-family: mariofont;
    src: url('/assets/font/mariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
}

@font-face {
    font-family: papermariofont;
    src: url('/assets/font/papermariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
}

h1 {
    font-family: mariofont;
}

h2 {
    font-family: papermariofont;
}

body {
    overflow: hidden;
    text-align: center;
    margin: 0; 
	
}

.text-box {
  font-family: papermariofont;
  color: white; 
  background-color: #6135f2; 
  padding: 0px 20px 20px;
  border-radius: 10px; 
  opacity: 1;
  margin: auto;
  height: auto;
  text-align: center;
}

.text-box h2 {
    font-family: mariofont;
	font-size: 40px;
}

.text-box p {
	font-size: 20px;
	margin: 0;
}


#about {
    position: fixed;
    top: 64%; 
    left: 50%; 
	transform: translate(-50%, -50%);
}




#bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 1;
}

.container {
  overflow: hidden;
}

/* .sliding-background { */
  /* background: url("assets/pattern2.png") repeat-x; */
  /* height: 500px; */
  /* width: 2400px;  */
  /* position: fixed;  */
  /* top: 0;  */
  /* left: 0;  */
  /* animation: slide 180s linear infinite; */
  /* opacity: 0.5; */

/* } */



@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-800px, 0, 0); /* The image width */
  }
}

/* .sliding-background { */
  /* background: url("assets/pattern.png") repeat; */
  /* height: 100vh;  */
  /* width: 100vw;  */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* animation: slide 60s linear infinite; */
  /* opacity: 0.4;  */
  /* z-index: -1;  */
  /* background-size: 150%;  */
/* } */


@keyframes slide {
  from {
    background-position: 0 0; 
  }
  to {
    background-position: 100% 0; 
  }
}



body {
    display: grid;
    place-items: center;
    height: auto;
    margin: 0;
}


.logo {
    position: relative;
    top: -80px;
    opacity: 0;
    animation: slideInAndFadeIn 1.2s forwards, moveUpDown 3.8s 6s infinite ease-in-out;
	width: 800px;
	height: auto;
	margin: 0 auto;
	z-index: 1;
}

@keyframes slideInAndFadeIn {
    0% {
        top: -90px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}



