@font-face {
    font-family: mariofont;
    src: url('/assets/font/mariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

@font-face {
    font-family: papermariofont;
    src: url('/assets/font/papermariofont.ttf') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}

@font-face {
    font-family: regularfont;
    src: url('/assets/font/regularfont.TTF') format('truetype');
	font-style: normal;
	font-display: swap; 
	font-weight: normal;
}



h1,h3 {
    font-family: mariofont;
}

h2 {
    font-family: regularfont;
}




#installation{
	text-align: center; 
	margin-top: 30px;
	width: 800px; 

}

#download {
	text-align: center; 
	margin-top: 30px;
	 width: 600px; 

}

#about {
	text-align: center; 
	margin-top: -30px;
	 width: 700px; 

}

#story {
    text-align: center; 
	margin-top: -30px;
	 width: 600px; 

}

#screenshots {
    text-align: center; 
	margin-top: 30px;
	 width: 800px; 
	padding: 20px;

}

.mySlides {
	display:none
}

.aboutimg {
	 position: relative;
    width: 460px; 
	margin-top: 20px;
	margin-bottom: 20px;
    border: 4px solid white; 
    border-bottom-width: 8px; 

}


.download-box {
    position: relative;
    font-family: regularfont;
    color: white;
    padding: 4px;
	padding-top: 16px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);

	margin: auto;
}

#download-box {
	text-align: center; 
	margin-top: 0px;
	 width: 240px; 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

body {
    background-image: url('assets/site_bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}



.link {
    font-weight: bold; 
    color: white; 
    text-decoration: none;
}

.link:hover {
    color: white; 
    text-decoration: underline; 
}

.text-box h2 {
    font-family: mariofont;
    font-size: 2.5em; 
    margin-top: 0;
}

.text-box h3 {
    font-family: mariofont;
    font-size: 1.5em; 
    margin-top: 0;
}

.text-box p {
    font-size: 1em; 
   
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('assets/site_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: regularfont;
}

main {
    flex: 1;
    padding: 20px;
}

.text-box {
    position: relative;
    font-family: regularfont;
    color: white;
    padding: 1em;
    margin: 15px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 6px solid white;
}




.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    font-family: regularfont;
    box-sizing: border-box;
    padding: 4px 30px;
    background-color: rgba(0, 0, 0, 0.6);
}





.social-icons {
    margin-top: 0px;
    display: inline-flex; 
    align-items: center; 
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    border-radius: 20%; 
    overflow: hidden;
    transition: transform 0.5s; 
    width: 34px; 
    height: 34px; 
}

.social-icons a img {
    width: 100%; 
    height: auto; 
}

.social-icons a:hover {
    transform: scale(1.1) rotate(2deg); /
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.starry-icon {
    display: block;
    margin-top: 20px; 
    width: 50px; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
	margin-bottom: 20px;
}

.logo {
    position: relative;
    top: -0px;

    opacity: 0;
    animation: slideInAndFadeIn 1.2s forwards, moveUpDown 3.8s 6s infinite ease-in-out;
	width: 800px;
	height: auto;
	margin: 0 auto;
	z-index: 1;
	padding-bottom: 20px;
}
@keyframes slideInAndFadeIn {
    0% {
        top: -90px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}


body {
    font-family: regularfont;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
}



.header-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
	
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo-img {
    height: 40px; 
    margin-right: 10px; 
}

.logo-text {
    font-size: 20px;
    color: white; 
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}

main {
    padding: 20px;
	
}

section {
    margin-bottom: 40px;
}
